<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613844668839-rdg3f8lkpmrhget9p2iq5p9hfpc1o4hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613844668839-rdg3f8lkpmrhget9p2iq5p9hfpc1o4hp</string>
	<key>API_KEY</key>
	<string>AIzaSyA1iL2oXv76St8Pgx4-Mgmeg_BHH8U8T9s</string>
	<key>GCM_SENDER_ID</key>
	<string>613844668839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-8e193</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-8e193.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613844668839:ios:2b62f1905723c9613de682</string>
</dict>
</plist>